<div class="container">
<h3 class="text-success">{{title}}</h3>
<ul class="list-group">
  <li class="list-group-item">User ID:{{putPost.userId}}</li>
  <li class="list-group-item">ID :{{putPost.id}}</li>
  <li class="list-group-item">Title :{{putPost.title}}</li>
  <li class="list-group-item">Body :{{putPost.body}}</li>
</ul>
<hr>

<ul class="list-group">
  <li class="list-group-item">User ID:{{patchPost.userId}}</li>
  <li class="list-group-item">ID :{{patchPost.id}}</li>
  <li class="list-group-item">Title :{{patchPost.title}}</li>
  <li class="list-group-item">Body :{{patchPost.body}}</li>
</ul>

</div>