<div class="container">
<h3 class="text-success">{{title}}</h3>
<h4 class="text-danger">Http PUT request method</h4>
<ul class="list-group">
  <li class="list-group-item">User ID:{{putPost.userId}}</li>
  <li class="list-group-item">ID :{{putPost.id}}</li>
  <li class="list-group-item">Title :{{putPost.title}}</li>
  <li class="list-group-item">Body :{{putPost.body}}</li>
</ul>
<hr>
<h4 class="text-danger"> Http PATCH request method</h4>
<ul class="list-group">
  <li class="list-group-item">User ID:{{patchPost.userId}}</li>
  <li class="list-group-item">ID :{{patchPost.id}}</li>
  <li class="list-group-item">Title :{{patchPost.title}}</li>
  <li class="list-group-item">Body :{{patchPost.body}}</li>
</ul>

<hr>
<h4 class="text-danger">{{message}}</h4>
</div>